# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

myapp
bankcli
/testing/*
Week2/Weekly/add_admin_cpp
Week2/Weekly/list_admins_cpp
Week2/Weekly/logfile.txt
Week2/Weekly/protoc_middleman
*.pb.h
*.pb.cc
Week2/Weekly/add_admin.cc
Week2/Weekly/list_admins.cc
*.swp
Holiday/Assign2/cal
